@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat';
}
body {
    display: flex;
    justify-content: center;
}
p.option:hover {
    cursor: pointer;
    text-decoration: underline;
}



/* DESKTOP VERSION */
@media screen and (min-width: 1200px) {

    .compName {
        color: white;
        position: absolute;
        display: flex;
        height: 75px;
        top: 0;
        align-items: center;
        font-size: xx-large;
        transition: 0.3s ease;
    }
    #nameClicked {
        color:black
    }
}


/* MOBILE VERSION */
@media screen and (max-width: 1199px) {

    .compName {
        color: white;
        position: absolute;
        display: flex;
        min-height: 60px;
        top: 0;
        left: 10px;
        align-items: center;
        font-size: x-large;
        transition: 0.3s ease;
    }
    #nameClicked {
        color:black;
        padding-right: 10px;
        align-self: left;
    }
    p.option {
       line-height: 10px;
    }
}

