@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat';
}
body {
    display: flex;
    justify-content: center;
}
p#option:hover {
    cursor: pointer;
    text-decoration: underline;
}



/* DESKTOP VERSION */
@media screen and (min-width: 1200px) {

    .compName {
        color: white;
        position: fixed;
        display: flex;
        height: 75px;
        top: 0;
        align-items: center;
        font-size: xx-large;
        transition: 0.6s ease;
    }
    #nameClicked {
        color:black;
    }
    .content {
        height: auto;
        position: absolute;
        top: 150px;
        margin-bottom: 75px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        word-wrap: break-word;
    }
    p#company {
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
        font-size: large;
    }
    h1#company {
        margin-left: 20px;
    }
}


/* MOBILE VERSION */
@media screen and (max-width: 1199px) {

    .compName {
        color: white;
        position: fixed;
        display: flex;
        min-height: 60px;
        top: 0;
        left: 10px;
        align-items: center;
        font-size: x-large;
        transition: 0.3s ease;
    }
    #nameClicked {
        color:black;
        padding-right: 10px;
        position: absolute;
        align-self: left;
    }
    p#option {
       line-height: 10px;
    }
    .content {
        width: 100%;
        height: auto;
        position: absolute;
        word-wrap: break-word;
        top: 70px;
        margin-bottom: 75px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    p#company {
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
        font-size: medium;
    }
    h1#company {
        margin-left: 15px;
    }
    
}

